#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=bash medit
Name=MiniEdit but like 2x cooler
Comment=comment here
Icon=/home/maxwell/tmp/Gear_icon.png
